[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
redis = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-leaflet = "*"
geopy = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"
django-cors-headers = "*"
pytest-django = "*"
dj-database-url = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
