{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <h1 class="text-center title">contact us</h1>
    <div class="col-12 col-md-6 contact">
      <form action="{% url 'contact' %}" method="POST"> 
        {% csrf_token %}
        <div class="form-outline mb-2">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-outline mb-2">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-outline mb-2">
          <label for="exampleInputEmail1" class="form-label">Telephone</label>
          <input type="text" name="telephone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-outline mb-2">
          <label for="exampleInputEmail1" class="form-label">Address</label>
          <input type="text" name="address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-outline mb-2">
          <label for="exampleFormControlTextarea1" class="form-label">Message</label>
          <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.680006325596!2d3.519216273116713!3d6.435131624187815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf65e37d389fd%3A0x4305d6ec43fce793!2s15%20Omo%20Oba%20Olukolu%20St%2C%20Lekki%20Penninsula%20II%2C%20Lekki%20106104%2C%20Lagos%2C%20Nigeria!5e0!3m2!1sen!2suk!4v1705784850133!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}