{% extends 'base.html' %}

{% block header %}
  {% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="text-center title mt-5 mb-5">Data Deletion Instructions</h1>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>
            <p>Last updated: 17 September, 2024</p>
            <p>At ShopMuchMore, we value your privacy and are committed to protecting your personal data. This document outlines how you can request the deletion of your personal information from our platform.</p>
            <p><b>What Does Data Deletion Mean?</b></p>
            <p>Data deletion refers to the process of permanently removing your personal data from our systems. Once your data has been deleted, it cannot be retrieved or restored.</p>
            <p><b>How to Request Data Deletion: </b></p>
            <p>You can request the deletion of your personal data by following these steps:</p>
            <p><b>1. Login to Your Account: </b></p>
              <p>• Go to the BuyMuchMore website and log in to your account.</p>
            <p><b>2. Submit a Data Deletion Request: </b></p>
            <p>•	Once logged in, navigate to the contact us page at the footer of the website.</p>
            <p>•	Click on the contact us link and fill in the necessary fields and write a clear statement requesting to delete your data on the message box.</p>
            <p>•	- Click on this option and follow the on-screen instructions to confirm your request.</p>
            <p><b>3. Email Request: </b></p>
            
            <p>•	If you are unable to access the contact us page, you may also request data deletion by sending an email to our Data Protection Officer at dpo@buymuchmore.co.uk.</p>
            <p>•	In your email, include the following information:</p>
            <p>•	Your full name.</p>
            <p>•	The email address associated with your ShopMuchMore account.</p>
            <p>•	Your telephone.</p>
            <p>• A clear statement requesting the deletion of your data.</p>
            <p><b>4. Verification: </b></p> 
            <p>•  To ensure the security of your data, we may ask you to verify your identity by providing some additional information.
            <p><b>5. Processing Time: </b></p> 
            <p>• Once we receive your request, we will process it within **30 days** as required by applicable data protection regulations.</p>
            <p>• You will receive an email confirmation once your data has been permanently deleted from our systems.</p>
              
            <p><b>Data That May Not Be Deleted Immediately: </b></p>
            <p>Please note that certain data may not be deleted immediately due to legal or regulatory requirements, such as:</p>
            <p>• Transaction Records: For example, if you've made purchases on the platform, we may need to retain some information for accounting, tax, or legal compliance purposes.</p>
            <p>• Fraud Prevention: Some data may also be retained for fraud prevention or security monitoring purposes for a limited period.</p>
            <p><b>Consequences of Data Deletion: </b></p>
            <p>Once your data has been deleted:</p>
            <p>• You will no longer have access to your BuyMuchMore account.</p>
            <p>• All personal information associated with your account, including purchase history, saved items, and preferences, will be permanently removed.</p>
            <p>• Any active subscriptions, memberships, or services linked to your account will be terminated.</p>
            <p>If you have any concerns or require further assistance with the data deletion process, please contact our customer support team at support@buymuchmore.co.uk</p>

            <p> <b>FAQs on Data Deletion</b></p>
            <p>Q: Can I recover my account after data deletion? </p>
            <p>A: No, once your data is deleted, it cannot be recovered. You will need to create a new account if you wish to use our services again.</p>
            <p>Q: What happens to my order history? </p>
            <p>A: All order history and personal details will be permanently deleted, but we may retain anonymized transaction records for legal purposes.</p>
            <p>Q: How long does the data deletion process take?</p>
            <p>A: It typically takes up to 30 days to fully process a data deletion request.</p>           
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
