{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="card container mb-5 mt-5 detail">
  <div class="row g-0 detrow">
    <div class="col-12 col-md-7 det">
      <img src="{{merchant_det1.carimg.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-12 col-md-5 detinfo">
      <div class="card-body">
        <h5 class="card-title text-center pb-2 pt-1 text-warning bg-dark">{{merchant_det1.type|title}}</h5>
        <p class="card-text"><span>Model:</span> {{merchant_det1.model}}</p>
        <p class="card-text"><span>Description:</span> {{merchant_det1.description}}</p>
        <p class="card-text"><span>Condition:</span> {{merchant_det1.condition}}</p>
        <p class="card-text"><span>Availability:</span> {{merchant_det1.availability}}</p>
        <p class="card-text"><span>Seller Address:</span> {{merchant_det1.address}}</p>
        
        {% if user.is_authenticated %}
          <p class="card-text"><span>Seller Telephone 1:</span> {{merchant_det1.telephone1}}</p>
          <p class="card-text"><span>Seller Telephone 2:</span> {{merchant_det1.telephone2}}</p>
        {% else %}
          <p class="card-text text-danger">Please Register or log in to see the seller's telephone numbers.</p>
        {% endif %}
        
        <p class="card-text"><span>Postcode:</span> {{merchant_det1.postcode}}</p>
        <p class="card-text"><span>Seller Name:</span> {{merchant_det1.seller_name}}</p>
        <p class="card-text"><span>Promo Price:</span> ₦{{merchant_det1.promo_price}}</p>
        <div class="text-center but">
          <p>₦{{merchant_det1.price}}</p>
          <form action="{% url 'add_to_cart' %}" method="POST"> 
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="itemsid" value="{{merchant_det1.id}}">
            <button type="submit" class="btn btn-warning">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
