{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container product">
  <h1 class="text-center text-warning bg-dark pt-2">{{merchant1_brand.brand|title}}</h1>
  <div class="row mt-5 mb-5">
    {% for merchant in merchant1_item %}
    <div class="col-12 col-md-6 col-lg-3 pt-4 mt-5">
      <div class="card text-center">
        <a href="{% url 'featuredetail' merchant.id merchant.slug %}"><img src="{{merchant.carimg.url}}" class="card-img-top" alt="..."><p>View more</p></a> 
        <div class="card-body">
          <h5 class="card-title">{{merchant.type|title}}</h5>
          <h5 class="card-title">{{merchant.model|title}}</h5>
          <p class="card-text price">₦{{merchant.price}}</p>
          <form action="{% url 'add_to_cart' %}" method="POST"> 
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="itemsid" value="{{merchant.id}}">
            <button type="submit" class="btn btn-warning">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}