{% load static %}

<div class="footer mt-5">
    <div class="footer2-container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <div>
            <img src="{{info.logo.url}}" alt="Company Logo">
            <h5>Scotland Concept</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li><a href="{% url 'terms_service' %}">Terms of Service</a></li>
              <li><a href="{% url 'deletion_instruction' %}">Data Deletion Instruction</a></li>
              <li></li>
            </ul>  
            <div>
              <p>Accepted Payment Methods:</p>
              <div class="payment-logos">
                  <img src="{% static 'images/mastercard.png' %}" alt="Mastercard" class="payment-logo">
                  <img src="{% static 'images/visa.png' %}" alt="Visa" class="payment-logo">
                  <img src="{% static 'images/american_express.png' %}" alt="American Express" class="payment-logo">
                  <img src="{% static 'images/unionpay.png' %}" alt="UnionPay" class="payment-logo">
              </div>            
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>Category</h2>
          <ul class="list-unstyled">
              {% for item in categ %}
              <li><a class="dropdown-item" href="{% url 'category' item.id item.slug %}">{{ item.brand|title }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>Links</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'partnerregistration' %}">Partners</a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="{% url 'merchregistration' %}">Sell on BuyMuchMore</a></li>
            <li><a href="{% url 'user_manual' %}">Seller User Manual</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>Follow Us</h2>
          <ul class="list-unstyled">
            <li><i class="bi bi-facebook"></i>Facebook</li>
            <li><i class="bi bi-twitter"></i>Twitter</li>
            <li><i class="bi bi-instagram"></i>Instagram</li>
            <li><i class="bi bi-linkedin"></i>LinkedIn</li>
            <a href="https://wa.me/+2348034091166" target="_blank" >
              <i class="bi bi-whatsapp"></i> WhatsApp
          </a>          
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row text-center footer2">
        <div class="col-12">
          <p class="pt-3">&copy; <span>{{info.copyright}}</span> BuyMuchMore | All Rights Reserved.</p>
          <script type="text/javascript">
            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script language="JavaScript" type="text/javascript">
            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
          </script>
        </div>
      </div>
    </div>
</div>