{% load static %}

    <style>
        body {
            padding-top: 120px; /* Adjust based on the height of the navbar and categonav */
        }
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1030;
            background: rgb(249, 250, 250);
            border-bottom: 1px solid #ddd;
        }
        .categonav {
            position: fixed;
            top: 68px; /* Adjust based on the height of the navbar */
            width: 100%;
            z-index: 1020;
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        .container-fluid.bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar-toggler {
            margin-right: 1rem;
        }
        .offcanvas-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .alert-dismissible {
            position: fixed;
            top: 120px; /* Adjust based on the combined height of the navbar and categonav */
            width: 100%;
            z-index: 1010;
        }
    </style>

<body>

<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{{info.logo.url}}" style="height: 40px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          {% if user.is_authenticated %}
         
          {% if user.merchant %}
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="{% url 'kyc_upload' %}">KYC Verify</a>
          </li>
          {% endif %}

      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.customer %}
              <img src="{{user.customer.pix.url}}" style="height: 25px;">
              {% endif %}
                
              {% if request.user %}
              <span>{{user.username}}!</span>
              {% endif %}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li> 
              <li><a class="dropdown-item" href="{% url 'signout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}"> Login</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link text-nowrap" href="{% url 'merchregistration' %}">Sell on BuyMuchMore</a>
          </li>
          <li class="nav-item partn">
            <a class="nav-link text-nowrap" href="{% url 'partnerregistration' %}">Partners</a>
          </li>
          {% endif %} 

          <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <div class="search-container" style="position: relative; width: 100%;">
                <input type="text" placeholder="Search" name="search" style="width: 100%; padding-right: 40px;">
                <button type="submit" class="bi bi-search" style="position: absolute; right: 0; top: 0; height: 100%; border: none; background: none; padding: 0 10px; cursor: pointer;">
                </button>
            </div>
        </form>
         <div>
        {% if user.is_authenticated %}
                    {% if user.customer %}
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'nearest_locations_for_customer' customer_id=user.customer.id %}">Seller's Locator</a>
                        </li>
                    {% elif user.merchant %}
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'nearest_locations_for_merchant' merchant_id=user.merchant.id %}">Delivery Service Locator</a>
                        </li>
                    {% endif %}
                    {% endif %}
                  </div>
                  <div>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap carticon" href="{% url 'cart' %}">
                            <i class="bi bi-cart4 cartcount"> Cart</i>  
                            <span class="cart-count">
                                {% if total_quantity %}
                                    {{ total_quantity }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                    </li>
                </div>
                

            </div>
          </div>
        </nav>
        
        <nav class="navbar bg-body-tertiary categonav">
          <div class="container-fluid bar">
            {% for item in categ|slice:":5" %}
            <a class="navbar-brand" href="{% url 'category' item.id item.slug %}">{{item.brand|title}}</a>
            {% endfor %} 
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="allcateg">All Category</span> <span class="navbar-toggler-icon actaeg"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">All Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
            {% for item in categ %}
            <a class="navbar-brand" href="{% url 'category' item.id item.slug %}">{{item.brand|title}}</a>
            {% endfor %} 
          </div>
        </nav>
        <!-- popup -->

        {% for item in messages %}
        <div class="alert alert-success alert-dismissible fade show text-center mb-0" role="alert">
          <strong>{{item|title}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    
  <!-- popup done -->

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

