{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}
{% block content %}

<div class="container mb4 home2">
  <h3 class="text-center title">Featured Products</h3>
  <div class="row row-cols-1 row-cols-md-4 g-5">
    {% for item in categs %}
    <div class="col fetureprod">
      <div class="card">
        <a href="{% url 'featureitem' item.id item.slug %}" class="img2">
          <img src="{{ item.pix.url }}" class="card-img-top" alt="{{ item.brands }}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ item.brands|title }}</h5>
          <p class="card-text descr">{{ item.description }}</p>
          <h6 class="card-title sponsor">
            Sponsored - <a href="{{ item.website }}" target="_blank">{{ item.sponsorname }} <i class="bi bi-box-arrow-in-up-right"></i></a>
          </h6>
          <a href="{% url 'featureitem' item.id item.slug %}" class="btn btn-warning">View More</a> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container mb-6 home">
  <div class="row">
    {% for item in categ %}
    <div class="col-md-6">
      <div class="card" data-aos="fade-right">
        <div class="row g-0 catcard">
          <div class="col-md-6 motor">
            <a href="{% url 'category' item.id item.slug %}" class="img2">
              <img src="{{ item.pix.url }}" class="card-img-top" alt="{{ item.brand }}">
            </a>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">{{ item.brand|title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <a href="{% url 'category' item.id item.slug %}" class="btn btn-warning">View More</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
