{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div>
    <i class="bi bi-info-circle-fill"><h4>Instruction pour s'inscrire en tant que vendeur sur la plateforme</h4></i>
    <p><b>1.</b> Create an account by filling the <b>Créez un compte en remplissant le</b> ci-dessous.</p>
    <p><b>2.</b> Connectez-vous et téléchargez votre document via le <b>Page de vérification KYC en cliquant sur le bouton KYC pour la vérification des documents</b></p>
    <p><b>3.</b> Effectuez le paiement en utilisant les détails du compte ci-dessous en fonction de votre préférence <B>Abonnement</B> plan</p> 
       <p> <b>(1 month subscription : N6,000)
        (abonnement de 3 mois : N11,000)
        (abonnement 6 mois : N20,500)
        (abonnement de 12 mois : N40,000) 
      <p>Nom de banque: GTB 
      Numéro de compte bancaire: 0000000
      Nom du compte bancaire: Buy Much More </p></b></p>
   <p><b>4.</b> S'il vous plaît, attendez <b>24 à 48 heures</b> pour que votre compte soit validé une fois votre vérification KYC terminée.</p> 
   <p><b>5.</b> Déjà inscrit, utilisez ce lien pour <b>Se connecter</b> : <a class="btn btn-warning" href="{% url 'merchsignin' %}">Connexion marchand</a></p>   
    </p>
  </div>
    <h1 class="text-center title">Inscription du commerçant</h1>
    <div class="col-12 register">
      <form action="{% url 'merchregistration' %}" method="POST"> 
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Prénom</label>
          <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nom de famille</label>
          <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nom d'utilisateur</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Téléphone</label>
          <input type="text" name="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nom de l'entreprise</label>
          <input type="text" name="company_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Enregistrement de la société</label>
          <input type="text" name="company_registration" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Adresse</label>
          <input type="text" name="address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input type="hidden" name="pix" value="customer/Avatar pic.png" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Mot de passe</label>
          <input type="password" name="password1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Confirmez le mot de passe</label>
          <input type="password" name="password2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-warning">Inscription du commerçant</button>
      </form>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}