{% extends 'base.html' %}

{% block header %} {% include 'header.html' %} {% endblock header %}

{% block content %}

<div class="container mt-4">
    <h2>Nearest Delivery Service Location</h2>

    <div class="card">
        <div class="card-header">
            Nearest Delivery Service to {{ merchant.company_name }}
        </div>
        <div class="card-body">
            {% if nearest_service %}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Delivery Service:</th>
                            <td>{{ nearest_service.company_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Address:</th>
                            <td>{{ nearest_service.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone:</th>
                            <td>{{ nearest_service.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Distance:</th>
                            <td>{{ distance|floatformat:2 }} miles</td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'merchant_dashboard' %}" class="btn btn-warning mt-3">View other Service Delivery Providers</a>
</div>

{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
