{% extends 'base.html' %}

{% block header %} {% include 'header.html' %} {% endblock header %}
{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Nearest Seller Information</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Company Name:</th>
                        <td>{{ company_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address:</th>
                        <td>{{ address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Distance:</th>
                        <td>{{ distance }} km</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone:</th>
                        <td>{{ phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'home' %}" class="btn btn-warning mt-3">Back to Home</a>
</div>

{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
