{% extends 'base.html' %}

{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}

<div class="container mt-4">

    <div class="container">
        <h2>Nearest Seller Information</h2>
        <div class="info">
            <strong>Company Name:</strong>
            <span>{{ company_name }}</span>
        </div>
        <div class="info">
            <strong>Address:</strong>
            <span>{{ address }}</span>
        </div>
        <div class="info">
            <strong>Distance:</strong>
            <span>{{ distance }} km</span>
        </div>
        <div class="info">
            <strong>Phone:</strong>
            <span>{{ phone }}</span>
        </div>
        <a href="{% url 'home' %}" class="button">Back to Home</a>
    </div>
</div>

{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}