{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block content %}
<div class="container mt-3 mb-5">
  <div class="row home2">
    <h1 class="text-center title">Password reset sent</h1>
    <p> We've emailed you the instruction for setting your password,
      if an account exist with the email you entered. You should receive them shortly.</p>
    
    <p>If you don't receive an email, please make sure you have entered the email 
      address you registered with, and check your spam folder</p>
     
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}