{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row home2">
    <h1 class="text-center title">Réinitialisation du mot de passe envoyée</h1>
    <p> Nous vous avons envoyé par e-mail les instructions pour définir votre mot de passe,
      s'il existe un compte avec l'e-mail que vous avez saisi. Vous devriez les recevoir sous peu.</p>
    
    <p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'e-mail 
      adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam</p>
     
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}