{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block content %}
<div class="container mt-3 mb-5">
  <div class="row home2">
    <h1 class="text-center title">Enter new password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="col-12 register">
      <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="Submit" class="updatebut" name="Update Password">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}