{% extends 'base.html' %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block banner %} {% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row home2">
    <h1 class="text-center title">Réinitialisation du mot de passe terminée</h1>
    <p>Votre mot de passe a été défini. Vous voudrez peut-être continuer et vous connecter maintenant </p>
    
    <a href="{% url 'signin' %}">Se connecter</a>
     
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %} {% include 'footer.html' %} {% endblock footer %}