{% extends 'base.html' %}

{% block header %}
  {% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="text-center title mt-5 mb-5">Privacy Policy for Buy Much More</h1>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>
            <p>Last updated: 17 September, 2024</p>
            <p>At Buy Much More (“we,” “us,” or “our”), we value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, share, and safeguard your data when you use our website or services.</p>
            <p><b>1. Information We Collect We may collect the following types of personal information from you: </b></p>
            <p>•	Personal Identification Information: Name, email address, phone number, postal address, payment information, and any other details you provide when registering an account or making a purchase.</p>
            <p>•	Transaction Information: Details of your purchases, including payment method, billing address, and shipping information.</p>
            <p>•	Technical Information: IP address, browser type, operating system, and device information through cookies or other tracking technologies.</p>
            <p>•	User Interaction Information: Communication preferences, customer service inquiries, and any other details you voluntarily provide through contact forms or social media.</p>
            <p><b></b></p>
            <p>•	Order Processing and Delivery: To process your orders, arrange for shipping, and send invoices.</p>
            <p>•	Account Management: To create, maintain, and manage your account with us.</p>
            <p>•	Customer Support: To respond to your inquiries, troubleshoot problems, and provide technical support.</p>
            <p>•	Marketing and Communication: To send you promotional materials, updates, and offers based on your communication preferences.</p>
            <p>•	Site Analytics: To analyze usage patterns, improve our website, and ensure the best possible user experience.</p>
            <p>•	Legal and Security Purposes: To comply with legal obligations, detect fraud, and ensure the security of our site.</p>
             <p><b>3. Sharing of Information. We may share your personal information in the following circumstances:   </b></p>   
            <p>•	Service Providers: We may share data with trusted third-party providers for order fulfillment, payment processing, marketing, and IT support.</p>
            <p>•	Business Transfers: If we undergo a merger, acquisition, or sale, your personal information may be transferred as part of that transaction.</p>
            <p>•	Legal Compliance: We may disclose your information to law enforcement or government authorities when required by law.</p>
            <p><b>4. Cookies and Tracking Technologies. Our website uses cookies and similar tracking technologies to enhance your browsing experience. Cookies help us understand how you use our site and tailor content and advertisements to your preferences. You can adjust your browser settings to refuse cookies, but some features of our website may not function properly without them.</b></p>
            <p><b>5. Data Retention. We will retain your personal information only for as long as necessary to fulfill the purposes for which it was collected, comply with legal obligations, resolve disputes, and enforce our agreements.</b></p>
            <p><b>6. Data Security. We use reasonable administrative, technical, and physical safeguards to protect your personal information from unauthorized access, disclosure, alteration, and destruction. However, no method of transmission over the internet or method of electronic storage is completely secure, and we cannot guarantee absolute security.</b></p>
           <p><b>7. Your Rights. Depending on your location, you may have certain rights regarding your personal information: </b></p> 
            <p>•	Access and Rectification: You can request access to or correction of the personal data we hold about you.</p>
            <p>•	Erasure: You may request that we delete your personal information, subject to certain legal exceptions.</p>
            <p>•	Restriction and Objection: You may ask us to restrict or stop processing your personal data in certain circumstances.</p>
            <p>•	Data Portability: You have the right to request that your data be transferred to another service provider in a structured, commonly used format.</p>
            <p>To exercise any of these rights, please contact us at contact@buymuchmore.co.uk</p>
            <p><b>8. Children's Privacy. Our services are not directed at individuals under the age of 16, and we do not knowingly collect personal information from children. If we learn that we have inadvertently collected information from a child under 16, we will take steps to delete that information. </b></p>
            <p><b>9. Changes to This Privacy Policy. We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. The updated version will be posted on our website, and we will indicate the date of the last revision.</b></p>
            <p> <b>10. Contact Us. If you have any questions or concerns about this Privacy Policy or how we handle your personal information, please contact us at: </b></p>
            <p>Buy Much More</p>
            <p>Email: contact@buymuchmore.co.uk</p>
            <p>Phone: +44 (0) 777 004 1335 </p>
           <p>Address: 46 Johnston Ave, Stirling FK9 5DJ, Scotland</p> 
            </p>
        </div>
      </div> 
      <!-- Add more privacy policy content here -->
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
