{% extends 'base.html' %}

{% block header %}
  {% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="text-center title mt-5 mb-5"></h1>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>
            
            <div>
              <h4>Registeration Successful! Thank you. Please Check Your Email To Verify Your Account.</h4>           
            </div>
 
        </div>
      </div>
      <!-- Add more privacy policy content here -->
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
