{% extends 'base.html' %}

{% block header %}
  {% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="text-center title mt-5 mb-5">Terms and Service</h1>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>
            <p>Last updated: 17 September, 2024</p>
    <p>1. Acceptance of Terms
      By accessing or using our services, you confirm that you are at least 18 years old and capable of entering into a binding agreement. If you are under 18, you may use our services only with the consent and supervision of a parent or legal guardian.</p>
    <p>2. Account Registration
      To use certain features of our services, you may need to register for an account. When you create an account, you agree to:
      <p>•	Provide accurate, complete, and current information.</p>
      <p>•	Keep your account credentials secure and confidential.</p>
      <p>•	Be responsible for all activities that occur under your account.</p>
      <p>•	Notify us immediately of any unauthorized use or security breach.</p>
      We reserve the right to suspend or terminate accounts that violate these Terms.</p>
    <p>3. Use of Services
      You agree to use our services only for lawful purposes and in a manner that does not infringe the rights of others or restrict their use of the platform. Specifically, you agree not to:
      <p>•	Use our services to engage in any illegal, fraudulent, or harmful activity.</p>
      <p>•	Distribute viruses, malware, or other harmful content.</p>
      <p>•	Interfere with the security or proper functioning of our platform.</p>
      <p>•	Collect or harvest any personally identifiable information from users without their consent.</p>
      We reserve the right to investigate and take appropriate legal action against anyone who violates this provision.</p>
    <p>4. Products and Services
      Buy Much More provides an e-commerce platform where users can purchase products from various merchants. We do not manufacture or control the products sold by third-party merchants. All descriptions, images, and prices of products are provided by the merchants.
      We strive to provide accurate product information, but we do not warrant that the product descriptions, images, or other content are completely accurate, reliable, or error-free. If a product you purchase differs from the information provided, please contact the merchant directly.</p>
    <p>5. Pricing and Payment
      All prices are listed in GBP (£) unless otherwise specified. Prices may change without prior notice. You are responsible for ensuring the accuracy of your order and payment details.
      We accept a variety of payment methods, which may include credit cards, debit cards, and other payment gateways. By making a purchase, you agree to the terms and conditions of the payment method you choose.</p>
    <p>6. Shipping and Delivery
      Shipping and delivery times vary based on the product and merchant. We do not guarantee specific delivery times, as they are dependent on third-party shipping providers. Any delivery estimates provided are for informational purposes only.
      For any issues regarding shipping or delivery, please contact the merchant directly.</p>
    <p>7. Returns and Refunds
      Return and refund policies may vary depending on the merchant. Please refer to the specific merchant’s return and refund policy for details. We are not responsible for refund requests, and all disputes regarding returns or refunds must be directed to the merchant.</p>
    <p>8. Intellectual Property
      All content, including but not limited to text, graphics, logos, images, and software, is the property of Buy Much More or its licensors and is protected by intellectual property laws. You agree not to copy, modify, distribute, or exploit any content from our platform without our express written consent.</p>
    <p>9. Third-Party Links
      Our platform may contain links to third-party websites or services that are not owned or controlled by Buy Much More. We are not responsible for the content, privacy practices, or terms of service of these third-party sites. You access these links at your own risk, and we encourage you to review the terms and policies of any third-party website you visit.</p>
    <p>10. Termination
      We reserve the right to suspend or terminate your access to our services at any time, with or without cause, and with or without notice. Upon termination, you must cease all use of our services.</p>
    <p>11. Limitation of Liability
      To the fullest extent permitted by law, Buy Much More and its affiliates, officers, employees, or agents shall not be liable for any indirect, incidental, special, or consequential damages arising from your use of our services. This includes, but is not limited to, loss of profits, data, or business.
      In no event shall Buy Much More’s total liability to you exceed the amount you paid to us, if any, for the services.</p>
   <p>12. Disclaimer of Warranties
    Our services are provided "as is" and "as available" without any warranties of any kind, either express or implied. We do not guarantee that our services will be error-free, secure, or uninterrupted. You use our platform at your own risk.</p> 
    <p>13. Indemnification
      You agree to indemnify and hold Buy Much More, its affiliates, officers, employees, and agents harmless from any claims, damages, liabilities, or expenses arising from your use of our services or violation of these Terms.</p>
    <p>14. Changes to Terms
      We may update or modify these Terms from time to time without prior notice. The updated Terms will be posted on our website, and your continued use of our services constitutes acceptance of the revised Terms.</p>
    <p>15. Governing Law
      These Terms are governed by and construed in accordance with the laws of Scotland, United Kingdom, without regard to its conflict of law principles. Any disputes arising under these Terms shall be subject to the exclusive jurisdiction of the courts located in Scotland.</p>
    16. Contact Us
    If you have any questions or concerns about these Terms, please contact us at:
    Buy Much More  </p>
    <p>Email: contact@buymuchmore.co.uk</p>
    <p>Phone: +44 (0) 777 004 1335 </p>
    <p>Address: 46 Johnston Ave, Stirling FK9 5DJ, Scotland</p>
 
        </div>
      </div>
      <!-- Add more privacy policy content here -->
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
